.h5p-blanks {
  position: relative;
}
.h5p-blanks .h5p-input-wrapper {
  display: inline-flex;
  position: relative;
  align-items: center;
  vertical-align: top;
  height: calc(var(--h5p-theme-spacing-xl) - 1px);
}
.h5p-blanks .h5p-text-input {
  font-family: var(--h5p-theme-font-name);
  font-size: var(--h5p-theme-font-size-m);
  border-radius: var(--h5p-theme-border-radius-medium);
  background-color: var(--h5p-theme-ui-base);
  border: 2px solid var(--h5p-theme-alternative-darker);
  padding: calc(var(--h5p-theme-spacing-xs) / 2) 0 calc(var(--h5p-theme-spacing-xs) / 2) var(--h5p-theme-spacing-xxs);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--h5p-theme-text-primary);
  width: 6em;
  font-weight: 600;
}
.h5p-blanks .h5p-text-input:focus {
  box-shadow: 0 0 0.5em 0 var(--h5p-theme-main-cta-base) !important;
  border-color: var(--h5p-theme-main-cta-base) !important;
  outline: 1px ridge var(--h5p-theme-main-cta-base) !important;
}
.h5p-blanks .h5p-text-input:disabled {
  opacity: 1;
}
.h5p-blanks .h5p-text-input.h5p-not-filled-out {
  background: #fff0f0;
}
.h5p-blanks .h5p-separate-lines .h5p-input-wrapper {
  display: block;
}
.h5p-blanks .h5p-separate-lines .h5p-text-input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Correctly answered input */
.h5p-blanks .h5p-correct .h5p-text-input {
  background: var(--h5p-theme-feedback-correct-secondary);
  border: 2px solid var(--h5p-theme-feedback-correct-third);
  color: var(--h5p-theme-feedback-correct-main);
  font-weight: bold;
  padding-right: var(--h5p-theme-spacing-m);
}
/* Showing solution */
.h5p-blanks .h5p-correct-answer {
  color: var(--h5p-theme-feedback-correct-main);
  font-weight: bold;
  border: 2px var(--h5p-theme-feedback-correct-main) dashed;
  background-color: var(--h5p-theme-feedback-correct-secondary);
  padding: calc(var(--h5p-theme-spacing-xs) / 2);
  border-radius: var(--h5p-theme-border-radius-medium);
  margin-left: .5em;
}

.h5p-blanks .h5p-correct:after {
  position: absolute;
  right: var(--h5p-theme-spacing-xxs);
  text-decoration: none;
  font-family: 'h5p-theme';
  content: "\e903";
  color: var(--h5p-theme-feedback-correct-main);
}

/* Wrongly answered input */
.h5p-blanks .h5p-wrong .h5p-text-input {
  color: var(--h5p-theme-feedback-incorrect-main);
  background-color: var(--h5p-theme-feedback-incorrect-secondary);
  border: solid 2px var(--h5p-theme-feedback-incorrect-third);
  font-weight: bold;
  padding-right: var(--h5p-theme-spacing-m);
}
.h5p-blanks .h5p-wrong:after {
  position: absolute;
  right: var(--h5p-theme-spacing-xxs);
  font-family: 'h5p-theme';
  content: "\e902";
  text-decoration: none;
  color: var(--h5p-theme-feedback-incorrect-main);
}

/* Actual text paragraphs */

.h5p-blanks .h5p-question-content p {
  display: inline-block;
  color: var(--h5p-theme-text-secondary);
  margin: 0;
  font-size: var(--h5p-theme-font-size-m);
}

.h5p-blanks .h5p-question-content { 
  background-color: var(--h5p-theme-alternative-light);
  color: var(--h5p-theme-text-secondary);
  border: solid 1px var(--h5p-theme-alternative-base);
  border-radius: var(--h5p-theme-border-radius-medium);
  padding: 0 var(--h5p-theme-spacing-s);
  font-weight: 500;
  margin: 0 var(--h5p-theme-spacing-m);
}

/* Header and footer blocks (title + evaluation, buttons) */
.h5p-blanks .joubel-tip-container {
  position: absolute;
  right: 0.4em;
  font-size: var(--h5p-theme-font-size-m);
}
.h5p-blanks .joubel-tip-container .joubel-icon-tip-normal {
  line-height: 1em;
}
.h5p-blanks .has-tip .h5p-text-input {
  padding-right: 2.25em;
}
.h5p-blanks .has-tip.h5p-correct:after,
.h5p-blanks .has-tip.h5p-wrong:after {
  right: 2.25em;
}
.h5p-blanks .has-tip.h5p-correct .h5p-text-input,
.h5p-blanks .has-tip.h5p-wrong .h5p-text-input {
  padding-right: 3.5em;
}
.h5p-blanks .hidden-but-read {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
}
